/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* GLOBALES */
:root{
    --very-dark-gray:hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    --sm:11px;
    --md:18px;
    --l:24px;
    --lg:30px;
    --container-shadow:0 1px 4px rgba(146, 161, 176, 0.151);

    --title-margin:24px;
    --title-height:36px;
    --search-height:60px;

    /* font-size: 6.25%; */
    --margin-top:calc( (320px - ( ( var(--title-margin) * 2 ) + var(--title-height) + var(--search-height))) / 4);;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: var(--md);

    font-family: 'Rubik', sans-serif;
    background-image: url(./images/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120%;
}
/* LAYOUT */
main{
    height: 98%;
}
.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 100%;
    height: 320px;
}
.down{
    position: relative;
    height: calc(100vh - 320px);
    background-color: papayawhip;
    border: solid 1px black;
}
/* COMPONENTES */
#map{
    position: relative;
    z-index: 0;

    height: 100%;
    width: 100%;
}
.down__location{
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 23px);
}
.up__api{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-width: 310px;
    max-width: 500px;
    width: 85%;
    margin-top: var(--margin-top);
    padding: 24px 24px 0 24px;
    height: fit-content;

    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 0 10px;
}
.up__infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.up__search{
    width: 100%;
    height: var(--search-height);
    padding: 12px 16px 12px 16px;
    
    color: var(--very-dark-gray);
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: var(--md);
    
    border-radius: 12px;
    border: none;
    box-shadow: var(--container-shadow);
}
.up__search:focus{
    outline: none;
}
.up__search:hover{
    cursor: pointer;
}
.up__btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-gray);
}
form{
    position:relative;
    width: 85%;
    max-width: 500px;
    min-width: 310px;
}
.up__btn{
    position: absolute;
    right: 0;

    height: 100%;
    width: 15%;

    background-color: black;
    border: none;
    border-radius: 0 12px 12px 0;
}
/* TIPOGRAFIA */
.isp{
    text-align: center;
}
.up__title{
    min-width: 310px;
    margin: 24px 0 24px;

    color: whitesmoke;
    font-size: var(--lg);
    font-weight: 500;
}
.up__infoTitle{

    font-size: var(--sm);
    color: var(--dark-gray);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.ip{
    word-break: break-all;
    text-align: center;
}
.up__infoData{
    color: var(--very-dark-gray);
    font-weight: 500;
    font-size: var(--l);
}
/* ESTILOS */

@media (min-width:1060px) {
    :root{
        --margin-top:calc( (320px - ( ( var(--title-margin) * 2 ) + var(--title-height) + var(--search-height))) / 3);;
    }
    body{
        background-image: url(./images/pattern-bg-desktop.png);
        background-size: 140%;
    }
    .up{
        height: 280px;
    }
    .up__api{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        min-width: 1099px;
        max-width: 1260px;
        width: 70%;
        height: fit-content;
        max-width: none;
        padding: 36px 0px 36px;
    }
    .up__infoBox{
        align-items: start;

        margin: 0;
        min-width: 250px;
        height: 100%;
        padding-left:40px;
        border-right: 1px solid hsl(0, 0%, 59%);
    }
    .up__infoBox:last-child{
        border: none;
    }
    .up__infoData{
        padding-top: 12px;
        padding-right: 20px;
    }
    .up__infoTitle{
        margin-bottom: 0px;
    }
    .down{
        height: calc(100vh - 280px);
    }
    .isp, .ip{
        text-align: start;
    }
}